:global {
    *, *:before, *:after{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    html {
        font-size: 62.5%;
    }

    body {
        padding: 4.8rem;
        background-color: #e9ecef;
    }

    html, body, #root {
        height: 100%;
        width: 100%;
    }



    body, input, textarea {
        font-family: 'Roboto', 'Helvetica Neue', 'Calibri', 'Helvetica', Arial, sans-serif;
        color: #495057;
        font-size: medium;
    }

    input, textarea {
        border: .1rem solid #ccc;
    }

    a {color: #228ae6; text-decoration: none; cursor: pointer;}

    p {margin-bottom: 2em;}

    h1, h2, h3, h4, h5, h6 {
      margin: 1.414em 0 0.5em;
      font-weight: inherit;
    }

    h1 {font-size: 2.074em;}
    h2 {font-size: 1.728em;}
    h3 {font-size: 1.44em;}
    h4 {font-size: 1.2em;}
    h5 {font-size: 1em;}
    h6 {font-size: 0.833em;}
    small {font-size: 0.694em;}

    button, .link, .button {
        display: inline-block;
        padding: 1rem;
    }

    button {
        border: .1rem solid #228ae6;
        background-color: #228ae6;
        color: #fff;
        &.link {
            background: transparent;
            border-color: transparent;
            color: #228ae6
        }
    }

    button + button{
    	margin-left: 0;
    }
}
